@CHARSET "UTF-8";

body.firefox {
    transform-style: flat;
    position: fixed;
    top: 0;
}

body.firefox a:active {
    background-color: rgba(0,0,0,0);
}

body.firefox section > article {
    height: calc(100% - 46px) !important;
}

body.firefox section.with-footer > article {
    height: calc(100% - 92px) !important;
}

body.firefox section.fix {
  position: fixed;
  top: 0;
}
body.firefox section.fix > header {
  margin-bottom: 0;
  transition: all .5s;
}
body.firefox section.fix > header h1{
  line-height: inherit;
}

body.firefox .notification .window {
    position: relative;
    top: calc(50% - 52px);
    left: calc(50% - 52px);
}

header .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.5em;
}

.app .form input,
.app .form select {
  padding: 0.5em;
  background: white;
}

table {
  margin: 0;
  width: 100%;
  border-spacing: 0.1em;
}
table td, th {
  padding: 0.5em 0.5em;
  vertical-align: middle;
}
table th, td.highlight {
  font-weight: bold;
}

table {
  background: #fff;
  color: #3f0f4a;
  border: 0.1em solid #e0a7ed;
}
table tr:nth-child(even) td {
  background-color: #f9edfb;
}
table th {
  background-color: #e0a7ed;
  color: #fff;
}
table td.highlight {
  background-color: #c22fe3 !important;
  color: #fff;
}

header span.arrow {
  padding: 0 0.5em;
}