<nav class="left">
    <a href="#" data-view-section="back">
        <span class="icon chevron-left"></span>
    </a>
</nav>
<h1 class="title centered">{{name}}</h1>
<nav class="on-right js-add-to-fav-btn">
    <a href="#add-to-fav-btn">
        <span class="icon {{^favourite}}star-empty{{/favourite}}{{#favourite}}star{{/favourite}}"></span>
    </a>
</nav>