<nav class="left">
    <a href="#" data-view-section="back">
        <span class="icon chevron-left"></span>
    </a>
</nav>
<h1 class="title centered">
	<span>{{from}}</span><span class="arrow">&#8674;</span><span>{{to}}</span>
</h1>